
.ico-gn-logo {
  display: block;
  background-size: 4rem 8rem;
  background-repeat: no-repeat;
  background-image: url('../images/logo.svg');
  background-position: center center;
  width: 5rem;
  height: 5rem;

}



